:root {
    --border-radius: 5px;
}

#MainWrapper {
    background-color: #fed8ff;
    padding: 10px;
    color: #fff;
    border-radius: var(--border-radius);
    position: absolute;
    left: 15%;
    right: 15%;
    top: 5%;
}

.Message {
    padding: 3px;
    padding-bottom: 6px;
    padding-top: 6px;
    background-color: #4141eb;
    border: 3px;
    font-size: 14px;
    margin-bottom: 2px;
    width: auto;
    height: auto;
    border-radius: var(--border-radius);
}

#MessageInput__Wrapper {
    background-color: #f6c7f7;
    padding: 5px;
    border-radius: var(--border-radius);
}

#message-input {
    min-width: 85%;
    width: auto;
    border: none;
    font-size: 16px;
    padding: 10px;
    border-radius: var(--border-radius);
}

#send-btn {
    min-width: 6%;
    width: 10%;
    background-color: #50c577;
    padding: 10px;
    border-radius: var(--border-radius);
    border: none;
    border-bottom: 2px solid #4d9759;
    float: right;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

#send-btn:hover {
    background-color: #21ac6be0;
}

#send-btn:active {
    border: none;
}

#Messages__Wrapper {
    max-height: 250px;
    overflow-y: scroll;
}
